body{
	font-family: times, sans-serif;
    font-size: 24px;
    border-style: groove;
    border-radius: 25px;
    border: 2px solid blue;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
}

h4{
	color: black;
    line-height: 10px;
    padding: 20px;
    margin: 10px;
    line-height: 28px;


}

#message{
    color: red;
}
